/*
  change the background for rows with outgoing mails to a light green
*/
#threadTree treechildren::-moz-tree-row(out) {
  background-image: url("row-sent.png") !important;
  background-position: bottom !important;
  background-repeat: repeat-x !important;
}
#threadTree treechildren::-moz-tree-row(odd,out) {
  background-image: url("row-odd-sent.png") !important;
  background-position: bottom !important;
  background-repeat: repeat-x !important;
} 


/*
  set the font style for outgoing mails to italics
*/
#threadTree treechildren::-moz-tree-cell-text(out) {
  font-style: italic;
}
